@charset "UTF-8";

/*
    tablet: 425 - 768
    laptop: 768 - 1440
    4k: 1440 - 2560+
*/

@media screen and (min-width: 700px) and (max-width: 768px){
        
        body{
            background-image: linear-gradient(to top, #49a09d, #5f2c82);
        }
    
        section#login{
            width: 90vw;
            height: 80vh;
        }

        #imagem{
            float: left;
            height: 100vh;
            width: 30vw;
        }

        #content{
            float: right;
            width: 60vw;
            height: 100vh;
        }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {

        body{
            background-image: linear-gradient(to top, #49a09d, #5f2c82);
        }

        section#login{
            width: 90vw;
            font-size: 1.3em;
        }

        #imagem{
            float: right;
            height: 100vh;
            width: 40vw;
        }

        #content{
            float: left;
            width: 50vw;
            height: 100vh;
        }
    
}

@media screen and (min-width: 1441px) {

        body{
            background-image: linear-gradient(to top, #49a09d, #5f2c82);
        }

        section#login{
            width: 90vw;
            font-size: 2em;
            height: 80vh;
            border-radius: 40px;
        }

        #imagem{
            float: right;
            height: 100vh;
            width: 50vw;
        }

        #content{
            float: left;
            width: 40vw;
            height: 100vh;
        }

        form > input[type=submit]{
            height: 80px;
            font-size: 5em;
        }

        form > a.botao{
            height: 80px;
        }
}
