@charset "UTF-8";

/*
cores
    verde: #5fc282
    azul-esverdiado: #49a09d
    roxo: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html, body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
    
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    height: 600px;
    width: 320px;
    border-radius: 20px;
    overflow: hidden;

    /*transition: width .3s, height .3s; 
    transition-timing-function: ease;*/
}

#imagem{
    background: white url(../imagens/imagem-login.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 200px;
    display: block;
}

div h1{
    text-align: center;
}

#content{
    display: block;
    padding: 10px;
}

.campo{
    background-color: #5f2c82;
    border-radius: 5px;
    margin: 8px 0px;
    height: 40px;
}

.campo span{
    color: white;
    font-size: 2em;
    padding: 5px;
}

.campo input{
    width: calc(100% - 46.5px);
    height: 100%;
    transform: translateY(-12px);
    border-radius: 4px;
    border: 2px solid #5f2c82;
}

.campo label{
    display: none;
}

form > input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #49a09d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #33706d;
}

form > a.botao{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #49a09d;
    text-align: center;
    margin-top: 5px;
    color: #49a09d;
    text-decoration: none;
    padding-top: 7px;
}

form > a.botao:hover{
    background-color: #33706d;
}

form > a.botao > span{
    font-size: 1em;
}